boto3
fsspec
langchain_openai
matplotlib
nltk==3.8.1
numpy==1.26.3
openpyxl
pandas
plac
pyarrow
python-dotenv
s3fs==2023.12.2
seaborn
sentence-transformers
spacy
srsly
toolz
wandb==0.16.6
wordcloud
xlrd
torch==2.1.2
tqdm==4.66.1
umap-learn
datasets
